@model RoleViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Role</h1>
<br />
<form asp-action="Create">

    div class="form-group">
    <label class="col-form-label" asp-for="RoleName"></label>
    <input class=" form-control" asp-for="RoleName" />
    <span class="text-danger" asp-validation-for="RoleName"></span>
    </div>

    
    <input class="btn btn-primary" type="submit" value="Submit" />
    <a class="btn btn-light" asp-action="Index">Back To List</a>

</form>>
<partial name="_ValidationScriptsPartial" />
