
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            Password reset link has been sent to your Mail, Please check your Inbox
        </div>
        <a href="https://mail.google.com/mail/u/0/#inbox">Go to your Inbox</a>
    </div>
</div>
