@using Mvc.DAL.Models
@model Department

@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete @Model.Name Department?</h1>
<div asp-validation-summary="All"></div>

<form asp-action="Delete">
   
    <partial name="PartialViews/DeleteDetailsPartialView" />
    <input class="btn btn-danger" type="submit" value="Delete" />
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>

