@using Mvc.DAL.Models
@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Are you sure you want to delete @Model.Name Employee?</h1>
<div asp-validation-summary="All"></div>

<form asp-action="Delete">

    <partial name="PartialViews/DetailsDeletePartialView" />
    <input class="btn btn-danger" type="submit" value="Delete" />
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>

</form>

