@using Mvc.DAL.Models
@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Edit @Model.Name Employee</h1>
<div asp-validation-summary="All"></div>
@* this is for catch exception *@
<form asp-action="Edit">
    
    <partial name="PartialViews/CreateEditPartialView" />
    <input class="btn btn-primary" type="submit" value="Submit" />
    <a class="btn btn-light" asp-action="Index">Back To List</a>
</form>
<partial name="_ValidationScriptsPartial" />